footer {
    width: 100%;
    background-color: aqua;
    margin-top: auto;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

footer div {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

@media (max-width: 600px) {
    footer div {
        flex-direction: column;
        gap: 0.5rem;
    }
}
