.header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(120, 195, 218), rgb(6, 141, 204));
}

@media (max-width: 600px) {
    .header {
        position: relative;
        height: 130px;
    }
}